<html lang="en-us" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/squib-ico.ico">
    <title>Success</title>
    <meta name="description" content="Oops, looks like the page is lost. Start your website on the cheap.">
    <link media="all" rel="stylesheet" href="/htdocs_error/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>

    <div class="success" id="success">
            <div class="container">
                <div class="content centered"><img style="width:500px; display: block;
                    margin-left: auto;
                    margin-right: auto;" src="https://www.pngall.com/wp-content/uploads/2016/07/Success-PNG-Image.png">
                    <h1 style="text-align: center;">Xin Cảm Ơn</h1>
                    <p style="font-size:22px; text-align: center;" class="sub-header text-block-narrow">Bạn đã đăng ký thành công, hãy quay lại trang chủ để đăng nhập</p>
                </div>
        </div>



</div></body></html>